<ion-view view-title="Snack Feed" hide-back-button="false">
  <ion-content style="background-color: #009688">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <ion-refresher
      pulling-text="LOADING"
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- this message is shown in case of no feeds present -->
    <div class="text-center" style="padding-top:40px;" ng-if="!feeds.length">
      <h1 class="sans-pro-light">No feeds</h1>
      <h4 class="sans-pro-light">Pull to refresh</h4>
      <h2 class="ion-ios-arrow-thin-down"></h2>
    </div>

    <div>
      <div class="text-center" style="margin-top: 10%">
        <p style="color: white; font-weight: bold">Snack-o-the-week!</p>
      </div>
    </div>

    <div class="tile-top" style="border: 5px">
      <div class="item item-image tile-top" style="border: 0; ">
        <img ng-src="{{dataModel.snackOfTheWeek.image}}" >
      </div>


        <div class="item item-text-wrap tile-bottom">
          <div>
            <h4 style="font-size: x-small; margin-right: 25%">{{dataModel.snackOfTheWeek.name}}</h4>
            <p style="font-size: x-small">
              {{dataModel.snackOfTheWeek.description}}
            </p>
          </div>


          <div>
            <a id="featuredLike" class="tab-item" style="position:absolute;top:10%;right:16%; zoom: 60%; z-index: 100005" ng-click="dataModel.like($event, dataModel.snackOfTheWeek, 'featuredLike', 'featuredDislike')" >
              <i class="icon ion-thumbsup"></i>
            </a>
            <a id="featuredDislike" class="tab-item" style="position:absolute;top:12%;right:6%; zoom: 60%; z-index: 100005" ng-click="dataModel.dislike($event, dataModel.snackOfTheWeek, 'featuredLike', 'featuredDislike')" >
              <i class="icon ion-thumbsdown"></i>
            </a>
          </div>


        </div>
      <button class="button button-small button-block button-assertive" style="position:relative; width: 50%; margin-left: auto; margin-right: auto; z-index: 10000; top: -25px" ng-click="dataModel.requestSnack()">REQUEST!</button>

    </div>

    <div>
      <div class="text-center" style="margin-top: 10%">
        <p style="color: white; font-weight: bold">Snack-a-thon Snack Finder</p>
      </div>
    </div>

    <div class="tile-top">
      <div class="item-image tile-top" style="border:0; ">



        <ion-slide-box delegate-handle="$ionicSlideBoxDelegate" show-pager="false" style="width: 103%;" >
          <ion-slide ng-repeat="feed in dataModel.recommendedList" ng-init="updateSlides()">
            <div class="box blue"  style="width: inherit"><img src="{{feed.image}}" ></div>

            <div class="item item-text-wrap"  style="width: inherit" >
              <h4 style="font-size: x-small; margin-right: 25%">{{feed.name}}</h4>
              <p style="font-size: xx-small;padding: 0 0 1em 0" ng-if="feed.description.length > 400">
                {{feed.description.substring(0,400)}}
              </p>
              <p style="font-size: xx-small;padding: 0 0 1em 0" ng-if="feed.description.length <= 400">
                {{feed.description}}
              </p>
              <button class="button button-small button-block button-assertive" style="position:relative; width: 50%; margin-left: auto; margin-right: auto; z-index: 10000; bottom: -42px" ng-click="dataModel.requestSnackFeed()">REQUEST!</button>

              <div>
                <a id="thumbsUp{{$index}}" class="tab-item" style="position:absolute;top:6%;right:16%; zoom: 60%; z-index: 100005" ng-click="dataModel.like($event, feed, 'thumbsUp'+{{$index}}, 'thumbsDown'+{{$index}})" >
                  <i class="icon ion-thumbsup"></i>
                </a>
                <a id="thumpsDown{{index}}" class="tab-item" style="position:absolute;top:7%;right:6%; zoom: 60%; z-index: 100005" ng-click="dataModel.dislike($event, feed, 'thumbsUp'+{{$index}}, 'thumbsDown'+{{$index}})" >
                  <i class="icon ion-thumbsdown"></i>
                </a>
              </div>
            </div>



          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
  </ion-content>
</ion-view>


