<ion-view view-title="Snack Feed" hide-back-button="false">
  <ion-content style="background-color: #009688">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <ion-refresher
      pulling-text="LOADING"
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- this message is shown in case of no feeds present -->
    <div class="text-center" style="padding-top:40px;" ng-if="!feeds.length">
      <h1 class="sans-pro-light">No feeds</h1>
      <h4 class="sans-pro-light">Pull to refresh</h4>
      <h2 class="ion-ios-arrow-thin-down"></h2>
    </div>

    <div>
      <div class="text-center" style="margin-top: 10%">
        <p style="color: white; font-weight: bold">Snack-o-the-week!</p>
      </div>
    </div>

    <div class="tile" style="border: 5px">
      <div class="item item-image tile" style="border: 0; ">
        <img ng-src="{{dataModel.snackOfTheWeek.image}}">



        <div class="item item-text-wrap">
          <h4 style="font-size: x-small; margin-right: 25%">{{feeds[0].name}}</h4>
          <p style="font-size: x-small">
            {{dataModel.snackOfTheWeek.description}}
          </p>
        </div>

        <a class="tab-item" style="position:absolute;top:51%;right:20%; zoom: 60%; z-index: 100005" on-tap="onTap()" >
          <i class="icon ion-thumbsup"></i>
        </a>
        <a class="tab-item" style="position:absolute;top:52%;right:5%; zoom: 60%; z-index: 100005" on-tap="onTap()" >
          <i class="icon ion-thumbsdown"></i>
        </a>
      </div>

      <button class="button button-small button-block button-assertive" style="position:relative; width: 50%; margin-left: auto; margin-right: auto; z-index: 10000; top: -25px" ng-click="dataModel.requestSnack()">REQUEST!</button>

    </div>

    <div>
      <div class="text-center" style="margin-top: 10%">
        <p style="color: white; font-weight: bold">Snack-a-thon Snack Finder</p>
      </div>
    </div>

    <div class="tile" style="border: 5px">
      <div class="item item-image tile" style="border: 0; ">


        <ion-slide-box delegate-handle="$ionicSlideBoxDelegate" show-pager="false" style="width: 100%" >
          <ion-slide ng-repeat="feed in dataModel.recommendedList" ng-init="updateSlides()">
            <div class="box blue"  style="width: inherit"><img src="{{feed.image}}" height="175" ></div>

            <a class="tab-item" style="position:absolute;top:45%;right:20%; zoom: 60%; z-index: 100005" on-tap="onTap()" >
              <i class="icon ion-thumbsup"></i>
            </a>
            <a class="tab-item" style="position:absolute;top:46%;right:5%; zoom: 60%; z-index: 100005" on-tap="onTap()" >
              <i class="icon ion-thumbsdown"></i>
            </a>

            <div class="item item-text-wrap"  style="width: inherit" >
              <h4 style="font-size: x-small; margin-right: 25%">{{feed.name}}</h4>
              <p style="font-size: x-small; height: 175px">
                {{feed.description}}
              </p>
            </div>

            <a style="position:absolute;top:20%;left:10%" >
              <i class="icon ion-ios-arrow-back" style="color: white; zoom: 200%"></i>
            </a>
            <a style="position:absolute;top:20%;right:10%">
              <i class="icon ion-ios-arrow-forward" style="color: white; zoom: 200%"></i>
            </a>

          </ion-slide>
        </ion-slide-box>




      </div>

      <button class="button button-small button-block button-assertive" style="position:relative; width: 50%; margin-left: auto; margin-right: auto; z-index: 10000; top: -25px" ng-click="dataModel.requestSnackFeed()">REQUEST!</button>

    </div>

  </ion-content>
</ion-view>


