
<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view style="background-color: #009688" hide-nav-bar="true" view-title="Welcome">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <div class="start-header text-center">Welcome</div>

    <ion-content class="padding full-height">
        <h1 class="text-center home-title" style="margin-top: 10%">
            <img src="https://s31.postimg.org/3zt05d1q3/Logo_Cropped.png" style="width: 50%; height: 50%">
        </h1>

        <div class="text-center" style="margin: 0 10%; color: white;">
            <p>Find snacks you didn't know you loved using our Snack-a-thon app!</p>
        </div>

        <div class="row">
            <div class="col col-25"></div>
            <div class="col">
                <button class="button button-balanced button-block" ui-sref="app.login" style="margin-top: 30%; font-weight: bold">LOGIN</button>
            </div>
            <div class="col col-25"></div>
        </div>

        <div class="text-center" style="margin:5%; color: white; font-size: x-small">
            <p>Don't have an account?</p>
        </div>

        <div ui-sref="app.signup" class="text-center" style="color: white; font-weight: bold">
            <p>SIGNUP</p>
        </div>

    </ion-content>

</ion-view>
